
{% block content %}

    

       <form action="/analyzetext" method="get">
        <textarea name="textbox" height="800" width="200" style="margin: 0px; width: 818px; height: 237px;"></textarea>
            <br><br>
        <button type="submit">Analyze Text</button><br><br>
        
        <input type="checkbox" class='product' name="removepunc"> Remove Punctuation
        <br>
        <input type="checkbox" class='product' name="firstcaps"> Caps
        <br>
        <input type="checkbox" class='product' name="newlineremover"> Newlineremover
        <br>
        <input type="checkbox" class='product' name="spaceremover"> SpaceRemover
<script>
    $('.product').on('change',function(){
        $('.product').not(this).prop('checked',false);
    })
</script>
        
        
    </form>
   

      
    {% endblock %}